*{
    margin: 0;
    padding: 0;  
}
body{
    overflow-x: hidden;
}
ul{
    list-style: none;
}
/* .headerbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  
} */
.header{
    width: 100%;
    height: auto;
    background-color: #0F204B;;
    display: flex;
}
.header-left{
    padding-left: 38px;
    flex: 2;
    /* height: 85px; */
    /* background-color: rgb(155, 214, 61); */
}
.header-right{
    flex: 2;
    padding: 33px;
    /* height: 85px; */
    /* background-color: rgb(10, 150, 73); */
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    
}
.header-left img{
    width: 270px;
    height: 80px;
    /* padding-left: 30px; */
}
.header-right ul{
    display: flex; 
    justify-content: flex-end;   
      
    
}
.header-right ul li{
    margin-right: 33px;
    text-decoration: none;
}
.header-right ul li a{   
    text-decoration: none;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
}
.section1 .s1-img1{
    width: 100%;
    height: 585px;
    position: relative;
}
.s1-img2 {
    width: 55%;
    height: 585px;
    position:absolute;
    top: 230px;
     left: 340px; 
}
.section2{
    width: 100%;
    height: 680px;
    /* background-color: rgb(10, 150, 73); */
    display: flex;
    padding-top: 100px;
}
.s2-text{
    width: 55%;
    height: 550px;
    /* background-color: rgb(52, 10, 150); */
}
.s2-image{
    width: 45%;
    height: 550px;
    /* background-color: rgb(189, 159, 29); */
}
.s2-image img{
    width: 95%;
    height: 550px;
}
.s2-text h3{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 100;
    padding-left: 40px;
    padding-top: 180px;
}
hr.line1{
    margin-left: 40px;
    margin-right: 700px;
    margin-top: 13px;
    border: 3px solid #F0AB00;
}
.s2-text p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-left: 40px;
    padding-top: 20px; 
    line-height: 35px;  
}
.section3{
    width: 100%;
    height: 550px;
    /* background-color: #F0AB00; */
    display: flex; 
}
.s3-image{
    width: 45%;
    height: 550px;
    /* background-color: rgb(32, 143, 38);   */
}
.s3-image img{
    width: 625px;
    height: 450px;
    padding-left: 49px;
}
.s3-text{
    width: 55%;
    height: 550px;
    /* background-color: rgb(150, 10, 40); */
}
.s3-text p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-left: 40px;
    padding-top: 15px;
    line-height: 27px;   
}
.s3-text h3{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 100;
    padding-left: 40px;
    padding-top: 120px;
}
.button1{
    background-color: #0F204B;
    width: 300px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    color: #F0AB00;
    font-size: 17px;
    font-weight: 100;
    border: none;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 35px;
}
.section4{
    width: 100%;
    height: 450px;
    background-color: #0F204B;
    
}
.section4 h1{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    padding-top: 125px;
    color: #F0AB00;
    
}
hr.line2{
    margin-left: 695px;
    margin-right: 700px;
    margin-top: 13px;
    border: 3px solid #F0AB00;
}
.section4 p{
    text-align: center;
    margin-top: 12px;
    line-height: 35px;
}
.section4 p{
    font-family: "Raleway", sans-serif;
    color: #fff;
}
.footer{
    width: 100%;
    height: 150px;
    /* background-color: #527ae0; */
}
.f-part1{
    width: 100%;
    height: 33.3%;
    /* background-color: red; */
}
.f-part1 h4{
    padding-left: 70px;
    padding-top: 25px;
    font-family: "Raleway", sans-serif;
    color: #000;
}
.f-part2{
    width: 100%;
    height: 33.3%;
    /* background-color: rgb(9, 255, 0); */
   
}

.f-part2 ul{
    display: flex;
    padding-left: 40px;
    margin-left: 10px;
}
.f-part2 ul li{
    margin-left: 20px;
    margin-top: 17px;
    font-family: "Raleway", sans-serif;
    color: #000;
}
.f-part3{
    width: 100%;
    height: 33.3%;
    /* background-color: rgb(39, 31, 150); */
}
.f-part3 h4{
    font-family: "Raleway", sans-serif;
    color: #000;
    text-align: center;
    font-weight: 100;
}


